---
layout: default
---
<section class="">
  <div class="two_columns about">
    <img src="{{'img/about-home-natural-one-life.png' | relative_url}}" height="520" width="520" class="img-tarjeta"
      alt="Quality Standard Ohio team cleaning an apartment">
    <div class="content">
      <small>Lorem, ipsum.</small>
      <h2>Lorem ipsum dolor sit.</h2>
      <p> <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sapiente neque quae tempora pariatur
          iusto
          natus dignissimos et qui omnis? </p>
      <br>
      <div class="three_columns porcent">
        <div>
          <span>97%</span>
          <p> <b> Lorem, ipsum. </b></p>
        </div>
        <div>
          <span>85%</span>
          <p> <b> Lorem, ipsum. </b></p>
        </div>
        <div>
          <span>83%</span>
          <p> <b> Lorem, ipsum. </b></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include iconos.html %}

<div class="text_center">
  <h2>Lorem ipsum dolor sit.</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error iusto aspernatur voluptatum asperiores modi.</p>
</div>
<section class="wrapper two_columns">

  <div >
    <img src="{{'img/slider-seccion.avif' | relative_url}}" width="450" height="450" class="img_vertical_slider">
  </div>
  
{% include slider.html %}

</section>

<section class=" wrapper">
  <div class="text_center">
    <small>Lorem, ipsum.</small>
    <h2>Lorem, ipsum dolor.</h2>
  </div>
  <div class="three_columns">
    <div>
      <img src="{{ 'img/about-home-natural-one-life.png' | relative_url }}" width="320" height="500"
        alt="1 or 2 bedrooms with 1 bathroom" loading="lazy" title="Lorem a asñ snfow wno afnaw nf">
      <p>Lorem ipsum dolor sit.</p>
      {% include button.html
        text = '→ Contáctanos'
        %}
    </div>
    <div >
      <img src="{{ 'img/about-home-natural-one-life.png' | relative_url }}" width="320" height="500" class="img-tres-columnas"
        alt="1 or 2 bedrooms with 1 bathroom" loading="lazy" title="Lorem a asñ snfow wno afnaw nf">
      <p>Lorem ipsum dolor sit.</p>
      {% include button.html
        text = '→ Contáctanos'
        %}
    </div>
    <div>
      <img src="{{ 'img/about-home-natural-one-life.png' | relative_url }}" width="320" height="500"
        alt="1 or 2 bedrooms with 1 bathroom" loading="lazy" title="Lorem a asñ snfow wno afnaw nf">
      <p>Lorem ipsum dolor sit.</p>
      {% include button.html
        text = '→ Contáctanos'
        %}
    </div>
  </div>

</section>

