{% assign layout = page.layout %}
{% case layout %}
{% when "default" %}
<header class="header_home">
  <div class="wrapper two_columns">
    <div class="header__home--text flow">
      <small>We are Quality Standard Ohio</small>
      <h1>Lorem ipsum dolor sit amet consectetur.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore iure et ea deserunt quos nulla illum.
      </p>
      {% include button.html text="→ Contáctanos" %}
</header>

{% else %}
<header class="header__services">
  <div class="wrapper two_columns bgr-hero">
    <div class="">
      {% if page.small %}
      <small>{{ page.small }}</small>
      {% endif %}
      <h1>{{ page.h1 }}</h1>
      <p>{{ page.text }}</p>

      {% if page.button %}
      {% include button.html text="→ Take our service" %}
      {% endif %}
    </div>

    <img src="{{ page.hero | relative_url }}" height="600" width="600" alt="{{page.alt}}">
  </div>
</header>
{% endcase %}