<section class="wrapper booking-process bgr">
  <div class="text_center">
    <small>Lorem, ipsum dolor.</small>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore magnam officia porro aliquam veritatis
      explicabo!</p>
  </div>
  <div class="flow">
    <div class="steps">
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/logo.avif' | relative_url }}" width="160" height="160" alt="Book Online Icon">
        </div>
        <h5>lorem</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, sint!</p>
      </div>
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/logo.avif' | relative_url }}" width="160" height="160" alt="Book Online Icon">
        </div>
        <h5>lorem</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, sint!</p>
      </div>
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/logo.avif' | relative_url }}" width="160" height="160" alt="Book Online Icon">
        </div>
        <h5>lorem</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, sint!</p>
      </div>
      <div class="step">
        <div class="icon-container">
          <img src="{{ '/img/logo.avif' | relative_url }}" width="160" height="160" alt="Book Online Icon">
        </div>
        <h5>lorem</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, sint!</p>
      </div>

    </div>
  </div>
</section>