<nav class="navbar">
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio" class="inicio">
    <img src="{{'img/logo.avif'|relative_url}}" alt="Logo de Natural One Life" height="80" width="115"
      title="Quality Standard Ohio" loading="eager">
  </a>
  <div class="wrap-navegacion">
    <div>
      <ul class="navegacion">
        <li class="dropdown">
          <span>Lorem</span>
          <div class="dropdown-content">
            <a href="{{'residential/regular'|relative_url}}" title="Regular home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/deep-cleaning'|relative_url}}" title="Deep home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/move-in-out'|relative_url}}" title="Move in/out cleaning service Ohio">Lorem</a>
            <a href="{{'residential/apartment'|relative_url}}" title="Apartment cleaning service Ohio">Lorem</a>
            <a href="{{'residential-cleaning'|relative_url}}" title="Residential cleaning service Ohio">Ver más...</a>
          </div>
        </li>
        <li class="dropdown">
          <span>Lorem</span>
          <div class="dropdown-content">
            <a href="{{'residential/regular'|relative_url}}" title="Regular home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/deep-cleaning'|relative_url}}" title="Deep home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/move-in-out'|relative_url}}" title="Move in/out cleaning service Ohio">Lorem</a>
            <a href="{{'residential/apartment'|relative_url}}" title="Apartment cleaning service Ohio">Lorem</a>
            <a href="{{'residential-cleaning'|relative_url}}" title="Residential cleaning service Ohio">Ver más...</a>
          </div>
        </li>
        <li class="dropdown">
          <span>Lorem</span>
          <div class="dropdown-content">
            <a href="{{'residential/regular'|relative_url}}" title="Regular home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/deep-cleaning'|relative_url}}" title="Deep home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/move-in-out'|relative_url}}" title="Move in/out cleaning service Ohio">Lorem</a>
            <a href="{{'residential/apartment'|relative_url}}" title="Apartment cleaning service Ohio">Lorem</a>
            <a href="{{'residential-cleaning'|relative_url}}" title="Residential cleaning service Ohio">Ver más...</a>
          </div>
        </li>
        <li class="dropdown">
          <span>Lorem</span>
          <div class="dropdown-content">
            <a href="{{'residential/regular'|relative_url}}" title="Regular home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/deep-cleaning'|relative_url}}" title="Deep home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/move-in-out'|relative_url}}" title="Move in/out cleaning service Ohio">Lorem</a>
            <a href="{{'residential/apartment'|relative_url}}" title="Apartment cleaning service Ohio">Lorem</a>
            <a href="{{'residential-cleaning'|relative_url}}" title="Residential cleaning service Ohio">Ver más...</a>
          </div>
        </li>
        <li class="dropdown">
          <span>Lorem</span>
          <div class="dropdown-content">
            <a href="{{'residential/regular'|relative_url}}" title="Regular home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/deep-cleaning'|relative_url}}" title="Deep home cleaning service Ohio">Lorem</a>
            <a href="{{'residential/move-in-out'|relative_url}}" title="Move in/out cleaning service Ohio">Lorem</a>
            <a href="{{'residential/apartment'|relative_url}}" title="Apartment cleaning service Ohio">Lorem</a>
            <a href="{{'residential-cleaning'|relative_url}}" title="Residential cleaning service Ohio">Ver más...</a>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <a href="#" title="Quality Standard Ohio WhatsApp" rel="nofollow noopener noreferrer" target="_blank"
        class="buttons button-main" id="lead_whatsapp">Contáctanos
      </a>
    </div>
  </div>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>