.footer {
  display: grid;
  flex-wrap: wrap;

  small {
    font-weight: normal;
  }
}

.footer_links {
  background-color: var(--color-complement);
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    min-width: 220px;
    max-width: 290px;
    display: grid;
    align-content: start;
  }

  h5 {
    font-weight: 900;
    text-transform: capitalize;
  }

  .footer__facebook {
    width: max-content;
    background-color: var(--color-main);
    border: 2px solid var(--color-main);
    border-radius: var(--radius);
  }
}

.footer_legal {
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  padding: 80px 0;
  justify-content: center;

  p {
    margin: 0;
  }
}

.redes {
  display: flex;
  gap: 1em;
  align-items: flex-start;
}
